.todo {
	display: flex;
	cursor: pointer;
	align-items: center;
	padding: 1rem;
	transition: background .3s ease;

	p, input {
		margin: 0;
	}

	> :first-child {
		margin-right: 1rem;
	}
}

.todo:hover {
	background-color: #f0f0f0;
}

.todo__subtext {
	color: #999;
}

.todo-completed {
	p, .todo__subtext {
		color: $light-color;
		text-decoration: line-through;
	}
}

.custom-button {
	margin: 0 .5rem;
}

.todo__right {
	margin-left: 1rem;
}